<h1 align=center><font size = 5>RECOMMENDATION SYSTEM USING RESTRICTED BOLTZMANN MACHINE</font></h1>

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sn

sn.set(font_scale = 1.4)

In [3]:
movies_df = pd.read_csv('./Resources/Data/ml-1m/movies.dat', sep = '::', header = None)
movies_df.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
ratings_df = pd.read_csv('Resources/Data/ml-1m/ratings.dat', sep = '::', header = None)
ratings_df.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [5]:
movies_df.columns = ['MovieID', 'Title', 'Genres']
ratings_df.columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']

In [6]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [7]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [8]:
print('Number of movies:', len(movies_df))
print('Number of users:', len(np.unique(np.array(list(ratings_df['UserID'])))))

Number of movies: 3883
Number of users: 6040

In [9]:
movies_df['List Index'] = movies_df.index
movies_df.head()

,MovieID,Title,Genres,List Index
0,1,Toy Story (1995),Animation|Children's|Comedy,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1
2,3,Grumpier Old Men (1995),Comedy|Romance,2
3,4,Waiting to Exhale (1995),Comedy|Drama,3
4,5,Father of the Bride Part II (1995),Comedy,4

In [10]:
merged_df = movies_df.merge(ratings_df, on = 'MovieID')
merged_df = merged_df.drop('Timestamp', axis = 1).drop('Title', axis = 1).drop('Genres', axis = 1)
merged_df.head()

   MovieID  List Index  UserID  Rating
0        1           0       1       5
1        1           0       6       4
2        1           0       8       4
3        1           0       9       5
4        1           0      10       5

In [11]:
userGroup = merged_df.groupby('UserID')
userGroup.first().head()

        MovieID  List Index  Rating
UserID
1             1           0       5
2            21          20       1
3           104         102       4
4           260         257       5
5             6           5       2

In [ ]:
amountOfUsedUsers = 1000
trX = []

for userID, curUser in userGroup:
    temp = [0] * len(movies_df)
    for num, movie in curUser.iterrows():
        temp[movie['List Index']] = movie['Rating'] / 5.0
    trX.append(temp)
    if amountOfUsedUsers == 0:
        break
    amountOfUsedUsers -= 1